
/* Use this z-index instead of creating your ones*/

$indexOne : 100;
$indexTwo : 200;
$indexThree : 300;
$indexFour : 400;
$indexFive : 500;
$indexSix : 600;
$indexSeven : 700;
$indexEight : 800;
$indexNine : 900;

/*End of z-index definition*/

/*use this font sizes instead of creating your owns*/

$size-small: 12px;
$size-medium : 16px;
$size-big : 20px;
$size-extrabig : 24px;

/*End of sizes definition*/